/* -  These is a style snippet to be used with
      http://mcdlr.com/css-inject/              - */


/* -  Cracked - http://www.cracked.com/            - *\
|* -  Best used for articles and not the homepage  - *|
\* -  v1.6                                         - */

html {
  background-color: #ddd;
  padding: 0;
  background-image: none;
}
body#Articles {
  width: 710px;
}
#Article {
  padding: 15px 30px;
}
#follow_me,
#persistent-share,
#SecondaryContent,
#Ad990,
#TopBar,
#Header,
#NewArticles,
#NavAndTools,
#Tombstone,
#FooterLinks,
#NewsletterAndSearch,
#Footer {
  display: none;
}
.Module .body {
  border: none;
}
#Wrapper {
  box-shadow: none;
}

/* -  /Cracked  - */
