html {
  font-size: 100%;
}
body {
  font-size: 2em;
  margin: 0;
  padding: 1em 0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
small {
  margin-top: 20%;
}
small + a {
  display: inline-block;
  width: 77%;
  margin: .2em 0;
  padding: 1em;
  font-size: 2em;
  color: #00f;
  background-color: #ddf;
}
