/* -  These is a style snippet to be used with
      http://mcdlr.com/css-inject/              - */


/* -  Reddit - http://www.reddit.com/                                   - *\
|* -  I don't use the reddit enhancement suite. I believe in websites.  - *|
\* -  v1.8                                                              - */

body {
  background-image: none;
}
.content {
  margin: 0;
}
.side {
  display: none;
}
.usertext.border .usertext-body {
  padding: 1em 1.5em;
}
.comment {
  margin: 1em;
}
.md {
  max-width: 64em;
}
.md p,
.md h1 {
  line-height: 1.4;
  margin: 1em 0;
}
.md p:first-of-type {
  margin-top: 5px;
}
.md p:last-of-type {
  margin-bottom: 5px;
}
.link .usertext .md {
  padding: 1em 1.5em;
  border-color: #99b3cc;
}
.arrow.up,
.arrow.down {
  display: block;
  visibility: visible;
}

/* -  /reddit  - */
