/* -  These is a style snippet to be used with
      http://mcdlr.com/css-inject/              - */


/* -  Reddit - http://www.reddit.com/       - *\
|* -  Improving the layout and whitespace   - *|
\* -  v2.2                                  - */

body {
  background-image: none;
  background-color: #fff;
}
body div.content {
  margin: 0.5em;
}
a:hover {
  text-decoration: underline;
}
.side {
  display: none;
}
.usertext.border .usertext-body {
  padding: 1em 1.5em;
}
.entry {
  background-color: rgba(255, 255, 255, .75);
}
.comment {
  position: static;
  top: auto;
  left: auto;
  margin: 1em;
}
.md {
  max-width: 64em;
}
.md p,
.md h1 {
  line-height: 1.4;
  margin: 1em 0;
}
.md p:first-of-type {
  margin-top: 5px;
}
.md p:last-of-type {
  margin-bottom: 5px;
}
.link .usertext .md {
  padding: 1em 1.5em;
  border-color: #99b3cc;
}
.arrow.up,
.arrow.down {
  display: block;
  visibility: visible;
}
#siteTable .entry {
  clear: both;
}
#siteTable .thing {
  margin: 2.5em 0;
}
#siteTable .md {
  margin: 0.5em auto;
}

/* -  /reddit  - */
