/* -  These is a style snippet to be used with
      http://mcdlr.com/css-inject/              - */


/* -  Wikipedia - http://www.wikipedia.org/  - *\
|* -  Considerably improved readability      - *|
\* -  v1.7.2                                 - */

body {
  background-color: #eee;
  background-image: none;
}
#mw-head-base,
#mw-head,
#mw-panel,
#mw-page-base,
#footer {
  display: none;
}
#content {
  margin: 0 auto;
  max-width: 52em;
  padding: 2em;
  font-size: 1.4em;
  background-image: none;
}
h1,
h2 {
  margin: 1.4em 0 .7em;
}
p {
  line-height: 1.5;
  margin: 1.1em 0;
}
sup,
sub {
  line-height: 1;
}
sup {
  position: relative;
  vertical-align: top;
  top: -2px;
}
sub {
  vertical-align: bottom;
}

/* -  /Wikipedia  - */
